<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <distributable/>

    <display-name>WS App Service</display-name>

    <!-- REST service -->
    <!-- Fill XXX and uncomment the following lines --> 
    <servlet>
        <display-name>Match</display-name>
        <servlet-name>MatchServlet</servlet-name>
        <servlet-class>
            es.udc.ws.app.restservice.servlets.MatchServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MatchServlet</servlet-name>
        <url-pattern>/matches/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>Purchase</display-name>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>
            es.udc.ws.app.restservice.servlets.PurchaseServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/purchases/*</url-pattern>
    </servlet-mapping>
   <!-- Thrift service -->
   <!-- Fill XXX and uncomment the following lines -->
    <servlet>
        <servlet-name>ThriftMatchServiceServlet</servlet-name>
        <servlet-class>es.udc.ws.app.thriftservice.ThriftMatchServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ThriftMatchServiceServlet</servlet-name>
        <url-pattern>/thrift/matchservice</url-pattern>
    </servlet-mapping>

    <!-- General configuration -->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
